.cd-fold-content h1, .cd-fold-content h2, .cd-fold-content h3, .cd-fold-content h4, .cd-fold-content h5, .cd-fold-content h6 {
  color: #000;
  margin-bottom: 15px; }

.resumeHeader {
  line-height: 1.2 !important;
  letter-spacing: .01em; }
  .resumeHeader a:hover {
    animation: linkHover 1s 1;
    animation-fill-mode: both;
    animation-timing-function: linear; }

@keyframes linkHover {
  0% {
    color: #000;
    font-size: 1.6rem;
    animation-timing-function: ease-in-out; }
  100% {
    color: #392b4d;
    font-size: 1.7rem;
    animation-timing-function: ease-in-out; } }

.resumeBody {
  text-align: left; }

.resumeIMGS {
  text-align: center;
  line-height: 1;
  display: inline-block; }

.workExperience {
  text-align: center; }

.resumePDF {
  text-align: left; }
  .resumePDF img {
    margin-left: 7px; }
  .resumePDF a {
    text-align: center;
    color: #000; }
  .resumePDF h6 {
    font-size: 13px;
    text-align: left; }
