/*===========================
Keyframes for Color Changes
============================*/
body {
  background: yellow !important;
}
@keyframes colorChange {
  0% {
    background: #000;
  }
  100% {
    background: #99ddff;
  }
}
@keyframes colorChange2 {
  0% {
    background: #99ddff;
  }
  100% {
    background: #000;
  }
}
@keyframes colorChange3 {
  0% {
    background: #000;
  }
  100% {
    background: transparent;
  }
}

/*===========================
Keyframes for Live Type
============================*/
@keyframes type {
  to {
    width: 13em;
  }
}
@-webkit-keyframes type {
  to {
    width: 13em;
  }
}

/*===================================
Keyframes for Fades and Translations
====================================*/
@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes textGrow {
  0% {
    font-size: 0;
  }
  100% {
    font-size: 4em;
  }
}
