.cd-fold-content {
  h1, h2, h3, h4, h5, h6 {
    color: #000;
    margin-bottom: 15px;
  }
}





.resumeHeader {
  line-height: 1.2 !important;
  letter-spacing: .01em;

  a {
    &:hover {
      animation: linkHover 1s 1;
      animation-fill-mode: both;
      animation-timing-function: linear;
    }
  }
}

@keyframes linkHover {
  0% {
    color: #000;
    font-size: 1.6rem;
    animation-timing-function: ease-in-out;
  }
  100% {
    color: #392b4d;
    font-size: 1.7rem;
    animation-timing-function: ease-in-out;
  }
}


.resumeBody {
  text-align: left;

}
.resumeIMGS {
  text-align: center;
  line-height: 1;
  display: inline-block;
}
.workExperience {
  text-align: center;
}
