doctype html
html
	//- audio(preload='auto', autobuffer, nocontrols, autoplay)
	//- 	source(src = 'whereIsMyMind.mp3')
	script.
		$('audio')[0].play();
		$('audio').fadeaudio({
		'fade_in_start' : 0,
		'fade_in_interval' : 200,
head
	link( language= 'javascript' type= 'text/javascript' href= 'https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
	link(href= 'index.js' rel='javascript')
	link(href="http://code.jquery.com/jquery-1.10.2.js")
	link(href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css")
	link(href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js")
	link(href="http://code.jquery.com/ui/1.11.4/jquery-ui.js")
	link(href = 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js' rel='stylesheet')
	link(href = 'style.css' rel= 'stylesheet')
	meta(charset='utf-8')

	title Tic Tac Toe

body
	header
		div(class="draggable")
			img(id="X" src="http://i.imgur.com/TOd0zZk.png")
			div(id="rocket1")
			div(id="rocket2")
			div(id="rocket3")
		h1 TIC TAC TOE
		div(id="orocket" class="draggable")
			div(class="draggable")
				img(id="O" src="http://i.imgur.com/ZB6Nxl6.png")
	main
		section(class = "row1")
			div(class="column1")
				div(id="c1")
			div(class="column2")
				div(id="c2")
			div(class="column3")
				div(id="c3")
		section(class = "row2")
			div(class="column1")
				div(id="c4")
			div(class="column2")
				div(id="c5")
			div(class="column3")
				div(id="c6")
		section(class = "row3")
			div(class="column1")
				div(id="c7")
			div(class="column2")
				div(id="c8")
			div(class="column3")
				div(id="c9")

		script.
			document.ready.(function()  {
				4('.draggable').draggable();
			});
			//- addEventListener("click", function(event) {
			//- 	var button = document.querySelector(".X");      
			//- 	button.addEventListener("click", function() {
			//- 		alert("You chose X!")
			//- 	}); });

				addEventListener("click", function(event) {
					var button = document.querySelector(".O");
					button.addEventListener("click", function() {
						alert("You chose O!")
					}); 
					});

	footer
