body {
  background-image: url("http://wyeagricolaclub.org.uk/images/galleries/5/desktop-background-space-hd-background-wallpaper-48.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.droppable {
  height: 70px;
  width: 70px;
}

.draggable {
  width: 150px;
  height: 150px;
  padding: 0;
  z-index: 1;
  position:relative;
  margin-top: 25px;
}

#X {
  background-image: url("http://i.imgur.com/TOd0zZk.png");
  background-size: 90px 90px;
  height: 90px;
  width: 90px;
  margin: 0 0 0 30px;
  padding: 0;
}

#O {
  background-image: url("http://i.imgur.com/ZB6Nxl6.png");
  height: 60px;
  width: 100px;
  margin: -210px 0 0 25px;
  padding: 0;
  z-index: 1;
}

#rocket1 {
  background-image: url("http://i.imgur.com/LeUquib.gif");
  opacity: .8;
  margin: -60px 0 0 30px;
  background-size: 25px 50px;
  position: absolute;
  z-index: -1;
}

#rocket2 {
  background-image: url("http://i.imgur.com/LeUquib.gif");
  opacity: .8;
  margin: -25px 0 0 100px;
  background-size: 25px 50px;
  position: absolute;
  z-index: -1;
}

#rocket3 {
  background-image: url("http://i.imgur.com/LeUquib.gif");
  opacity: .8;
  background-size: 25px 50px;
  margin: -10px 0 0 55px;
  position: absolute;
  z-index: -1;
}

#rocket4 {
  background-image: url("http://i.imgur.com/LeUquib.gif");
  opacity: .8;
  background-size: 25px 50px;
  position: absolute;
  z-index: -1;
  margin: -50px 0 0 75px;
}

#orocket {
  background-image: url("http://i.imgur.com/vdkJjqB.gif");
  background-size: 100px 50px;
  margin: 25px 0 0 25px;
  z-index: -1:}

#h1 {
  background-size: 1px 1px;
  height: auto;
  width: auto;
  color: white;
  font-family: Myriad Pro;
  font-size: 48px;
  text-shadow: 5px 5px purple;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding-bottom: 75px;
}

section {
  display: flex;
  flex-direction: column;
  width: auto;
}

.row1, .row2, .row3 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  padding: 0;
  margin: 25px;
  text-align: center;
}

.row1 {
  margin-left: -400px;

}

.row2 {
  margin: -127px 0 0  -274px;
}

.row3 {
  margin: -101px 0 0  -125px;
}

.column1 {
  margin-top: -48px;
  margin-left: -63px;
  text-align: center;
  background-image: url("http://i.imgur.com/MQgjza4.png");
  z-index: -2;
}

.column2 {
  margin-top: -30px;
  margin-left: -65px;
  text-align: center;
  background-image: url("http://i.imgur.com/MQgjza4.png");
  z-index: -2;
}

.column3 {
  margin-top: -11px;
  margin-left: -60px;
  text-align: center;
  background-image: url("http://i.imgur.com/MQgjza4.png");
  z-index: -2;
}

div {
  width: 200px;
  height: 200px;
  /*background-image: url("http://i.imgur.com/MQgjza4.png");*/
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0;
  margin: -10px;
}

#c1 {
  display: flex;
  flex-direction: column;
  background-image: url("http://i.imgur.com/u3hC7PY.png");
  opacity: .5;
  background-size: 50px 50px;
  margin: 15px 0 0 70px;
}

#c2 {
  display: flex;
  flex-direction: column;
  background-image: url("http://i.imgur.com/hzsPgPs.png.png");
  opacity: .5;
  background-size: 50px 50px;
  margin: 15px 0 0 75px;
}

#c3 {
  display: flex;
  flex-direction: column;
  background-image: url("http://i.imgur.com/JXDYDbc.png");
  opacity: .4;
  background-size: 50px 50px;
  margin: 15px 0 0 70px;
}

#c4 {
  display: flex;
  flex-direction: column;
  background-image: url("http://i.imgur.com/EI0AIBW.png");
  opacity: .4;
  background-size: 50px 50px;
  margin: 15px 0 0 75px;
}

#c5 {
  display: flex;
  flex-direction: column;
  background-image: url("http://i.imgur.com/d2Pb3Of.png");
  opacity: .4;
  background-size: 80px 80px;
  margin: 5px 0 0 65px;
}

#c6 {
  display: flex;
  flex-direction: column;
  background-image: url("http://i.imgur.com/4Qhmru5.png");
  opacity: .4;
  background-size: 50px 50px;
  margin: 20px 0 0 80px;
}

#c7 {
  display: flex;
  flex-direction: column;
  background-image: url("http://i.imgur.com/BIATFCZ.png");
  opacity: .4;
  background-size: 50px 50px;
  margin: 20px 0 0 80px;
}

#c8 {
  display: flex;
  flex-direction: column;
  background-image: url("http://i.imgur.com/Fx2cfD6.png");
  opacity: .4;
  background-size: 50px 50px;
  margin: 20px 0 0 75px;
}

#c9 {
  display: flex;
  flex-direction: column;
  background-image: url("http://i.imgur.com/ohuUIMP.png");
  opacity: .4;
  background-size: 50px 50px;
  margin: 20px 0 0 75px;
}
